/* CSS declarations go here */
:root {
  --red-main: #FF0700;
  --red-shade1: #FF635F;
  --red-shade2: #FF3832;
  --red-shade3: #D00500;
  --red-shade4: #A30400;
  --yellow-main: #FFD200;
  --yellow-shade1: #FFE35F;
  --yellow-shade2: #FFDB32;
  --yellow-shade3: #D0AC00;
  --yellow-shade4: #A38700;
  --green-main: #00D00E;
  --green-shade1: #51DB5A;
  --green-shade2: #2AD335;
  --green-shade3: #00A40B;
  --green-shade4: #008108;
  --blue-main: #3914BA;
  --blue-shade1: #735ACA;
  --blue-shade2: #5638BF;
  --blue-shade3: #2B0E90;
  --blue-shade4: #200971;

}

* {
    font-family: Merriweather;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
    font-weight: bolder;
    color: var(--blue-main);
    margin-top: 0;
}

.logo {
    color: white;
}

.chip-container {
	background-color: var(--blue-shade3);
	height: 40px;
}

.empty-chip {
	background-color: white;
    height: 30px;
    border-radius: 100%;
    width: 30px;
    position: relative;
    left: 7px;
}

.p1-chip {
	background-color: var(--red-main);
    height: 30px;
    border-radius: 100%;
    width: 30px;
    position: relative;
    left: 7px;
    border-top: 2px solid var(--red-shade1);
    border-left: 2px solid var(--red-shade1);
    border-right: 2px solid var(--red-shade3);
    border-bottom: 2px solid var(--red-shade3);
    color: var(--red-shade4);
}

.p2-chip {
	background-color: var(--yellow-main);
    height: 30px;
    border-radius: 100%;
    width: 30px;
    position: relative;
    left: 7px;
    border-top: 2px solid var(--yellow-shade1);
    border-left: 2px solid var(--yellow-shade1);
    border-right: 2px solid var(--yellow-shade3);
    border-bottom: 2px solid var(--yellow-shade3);
    color: var(--yellow-shade4);
}


button.p1-chip[disabled], button.p2-chip[disabled] {
	background-color: grey;
    border-top: 2px solid #CACACA;
    border-left: 2px solid #CACACA;
    border-right: 2px solid #636363;
    border-bottom: 2px solid #636363;
    color: #636363;
}

th {
	width: 50px;
    height: 50px;
}

tbody {
    border-top: 2px solid var(--blue-shade1);
    border-left: 2px solid var(--blue-shade1);
    border-right: 2px solid var(--blue-shade3);
    border-bottom: 2px solid var(--blue-shade3);
    box-shadow: 0px 6px 15px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 100;
    background-color: var(--blue-main);
    color:white;
}

.skip-link:focus {
    top:0;
}

#login-buttons {
    margin-top: 15px;
}

#login-buttons * {
    font-family: Merriweather;
}

#login-dropdown-list {
    position: absolute;
    top: 30vh;
    left: -35vw;
    background-color: var(--yellow-main);
    border-radius: 0;
    border: 1px solid var(--yellow-shade1);
    box-shadow: 0px 0px 15px var(--blue-shade4);
}

#login-dropdown-list a {
    font-family: Oswald;
}

#login-dropdown-list input {
    border: 1px solid white !important;
}

input {
    border-radius: 5px;
    border: 2px solid var(--blue-shade1);
    padding: 5px;
    width: 100%;
}

input:focus {
    border: 2px solid var(--blue-main);
}

#login-sign-in-link, #login-name-link, button.options {
    text-decoration: none !important;
    font-family: Oswald;
    color: white;
    border: 2px solid white;
    padding: 5px 35px;
    border-radius: 5px;
    background-color: var(--blue-main);
}

.login-button:hover, #login-sign-in-link:hover, #login-name-link:hover, button.options:hover {
    background-color: var(--blue-shade2) !important;
}

a.login-close-text {
    float: right !important;
    font-family: Oswald;
}

.container {
    margin-top: 120px;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--blue-main);
    color: white;
}

.login-button {
    background-color: var(--blue-main) !important;
    font-family: Oswald !important;
    border: none !important;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.play-now {
    background-color: var(--yellow-main);
    color: var(--blue-main);
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.play-now img {
    width: 100%;
}

.create-game {
    text-align: center;
}

.game-list {
    background-color: var(--yellow-main);
    padding: 15px;
    min-height: 47.5vh;
}

.game-item {
    background-color: var(--blue-main);
    border-radius: 5px;
    color: white;
    padding: 16px 8px;
    margin-bottom: 15px;
}

.game-item h1, .game-item h2, .game-item h3, .game-item h4, .game-item h5, .game-item h6 {
    color: white;
}

.game-option {
    margin-top: 15px;
}

.message-container {
  position: absolute;
  border: 1px solid #058ceb;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 54px grey;
  margin-top: 47px;
  top: 10px;
}

.visible {
 opacity: 1;
 visibility: visible;
 -webkit-transition: visibility 2s, opacity 1s;
 -o-transition: visibility 2s, opacity 1s;
 transition: opacity 1s;
}

.hidden {
 opacity: 0;
 visibility: hidden;
 -webkit-transition: opacity 1s;
 -o-transition: opacity 1s;
 transition: opacity 1s;
}
